// NavBar

$navBar-background-color: #FFFFFF;
$navBar-items-color: #000000;

// Home 

$home-avatar-background: linear-gradient(159deg, rgba(46, 85, 82, 0.02) 0%, rgba(226, 174, 93, 0.48) 100%);
$home-text-title-color: #296879; // 'who am i ?' txt color
$home-text-color: #000000;

$home-text-inside-image-color: #000000; // Text will be display on hover

// Project 1 - rubrik-project

$project1-header-image-background-color : #DBDADB; // here I used the color of project 1 image background#
$project1-text-color: #000000;
$project1-discover-text-color: #296879; // color of 'Discover' text in project 1 and border belo
$project1-discover-process-background-color : rgba(82, 140, 162, 0.47); // Background Color of Image under 'Discover'

// Footer

$footer-background-color: #FFFFFF;
$footer-items-color: #000000;