// NavBar

$navBar-background-color:  #C6D1D0;
$navBar-items-color: #000000;

// Home 

$home-avatar-background: linear-gradient(158deg, rgba(252,252,252,1) 0%, rgba(46, 85, 82, 0.24) 48%, rgba(226,174,93,1) 100%);
$home-text-title-color: #296879; // 'who am i ?' txt color
$home-text-color: #000000;

$home-text-inside-image-color: #000000; // Text will be display on hover

// Project 1 - rubrik-project

$project1-text-color : #000800cc;

$project1-header-image-background-color : #DBDADB; // here I used the color of project 1 image background#
$project1-discover-text-color: #528CA2; // color of 'Discover' text in project 1 and border belo
$project1-discover-process-background-color : rgba(82, 140, 162, 0.47); // Background Color of Image under 'Discover'

$project1-define-text-color: #528CA2; // color of 'Define' text in project 1 and border belo
$project1-persona-text-bottom-icons-color : rgba(27,27,27,0.8); // Color of text under Briefcase, Location, User, Home icons (in Persona Box)

$project1-ideation-text-color : #528CA2;  // color of 'Ideation' text in project 1 and border belo
$project1-ideation-Layout-header : rgba(27,27,27,0.6);   // color of 'screen  verteilungs', 'layout test' & 'color test' Headers in ideation and border belo

$project1-design-text-color:  #528CA2;  // color of 'Design' text in project 1 and border belo
$project1-design-Headers-color : rgba(27,27,27,0.6);   // color of 'moodboard', 'styleguide', 'colors', 'Grids' ,... header text in Design Component and border belo

$project1-design-user-flow-background-color: #528ca278; // Background Color of Image under 'User Flow'

// Footer

$footer-background-color: #2e555245;
$footer-items-color: #000000;

