// NavBar

$navBar-background-color: #FFFFFF;
$navBar-items-color: #000000;

// Home 

$section1-avatar-background: linear-gradient(159deg, rgba(46, 85, 82, 0.02) 0%, rgba(226, 174, 93, 0.48) 100%);
$section1-text-title-color: #296879; // 'who am i ?' txt color
$section1-text-color: #000000;

$section1-text-inside-image-color: #000000; // Text will be display on hover


// Footer

$footer-background-color: #FFFFFF;
$footer-items-color: #000000;